.idea/libraries/sbt__org_scala_lang_scala_library_2_12_4_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_1_0_5_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_1_0_4_jar.xml
.idea/libraries/sbt__org_ow2_asm_asm_5_0_4_jar.xml
.idea/libraries/sbt__org_mongodb_mongo_java_driver_3_2_2_jar.xml
.idea/libraries/sbt__org_mongodb_casbah_query_2_12_0_RC1_3_1_1_jar.xml
.idea/libraries/sbt__org_mongodb_casbah_gridfs_2_12_0_RC1_3_1_1_jar.xml
.idea/libraries/sbt__org_mongodb_casbah_core_2_12_0_RC1_3_1_1_jar.xml
.idea/libraries/sbt__org_mongodb_casbah_commons_2_12_0_RC1_3_1_1_jar.xml
.idea/libraries/sbt__org_joda_joda_convert_1_2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_math3_3_2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_lang3_3_4_jar.xml
.idea/libraries/sbt__joda_time_joda_time_2_9_4_jar.xml
.idea/libraries/sbt__io_spray_spray_json_2_12_1_3_2_jar.xml
.idea/libraries/sbt__commons_io_commons_io_2_4_jar.xml
.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/sbt__com_storm_enroute_scalameter_core_2_12_0_8_2_jar.xml
.idea/libraries/sbt__com_storm_enroute_scalameter_2_12_0_8_2_jar.xml
.idea/libraries/sbt__com_github_nscala_time_nscala_time_2_12_0_RC1_2_14_0_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_12_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_paranamer_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_8_4_jar.xml
.idea/hydra.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/scala_compiler.xml
.idea/sbt.xml
.idea/modules/algorithms.iml
.idea/modules/algorithms-build.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/sbt__org_slf4j_slf4j_api_1_6_0_jar.xml
.idea/libraries/sbt__org_scala_tools_testing_test_interface_0_5_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_4_jar.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-compile-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/default/algorithms-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/default/algorithms-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
project/target/config-classes/$f3e7451aaae87dd166b9.class
project/target/config-classes/$f3e7451aaae87dd166b9$.class
project/target/config-classes/$e16d84d49ed0a1559dd8.class
project/target/config-classes/$e16d84d49ed0a1559dd8$.class
project/target/config-classes/$e05a16c2b970b1c00b95.class
project/target/config-classes/$e05a16c2b970b1c00b95$.class
project/target/config-classes/$943c40a135aafc4a6961.class
project/target/config-classes/$943c40a135aafc4a6961$.class
project/target/config-classes/$7cc8b22e8b44ddb4a5bf.class
project/target/config-classes/$7cc8b22e8b44ddb4a5bf$.class
project/target/config-classes/$5b415fc3f0fd9510ec73.class
project/target/config-classes/$5b415fc3f0fd9510ec73$.class
project/target/config-classes/$241e1ea37caaf62bf88d.class
project/target/config-classes/$241e1ea37caaf62bf88d$.class
project/target/config-classes/$13b22384e91e8f758792.class
project/target/config-classes/$13b22384e91e8f758792$.class
project/target/streams/compile/$global/$global/discoveredMainClasses/data
project/target/streams/$global/update/$global/streams/update_cache_2.12/output
project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
project/target/streams/$global/update/$global/streams/out
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/$global/ivySbt/$global/streams/out
project/target/streams/$global/ivyConfiguration/$global/streams/out
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
project/target/streams/$global/$global/$global/streams/out
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.xsl
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.css
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-test.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-test-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-scala-tool.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-runtime.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-runtime-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-provided.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-pom.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-plugin.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-optional.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-algorithms-build-compile.xml
project/target/streams/runtime/unmanagedJars/$global/streams/export
project/target/streams/runtime/unmanagedClasspath/$global/streams/export
project/target/streams/runtime/managedClasspath/$global/streams/export
project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
project/target/streams/runtime/fullClasspath/$global/streams/export
project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
project/target/streams/runtime/exportedProducts/$global/streams/export
project/target/streams/runtime/dependencyClasspath/$global/streams/export
project/target/streams/compile/unmanagedJars/$global/streams/export
project/target/streams/compile/unmanagedClasspath/$global/streams/export
project/target/streams/compile/managedClasspath/$global/streams/export
project/target/streams/compile/internalDependencyClasspath/$global/streams/export
project/target/streams/compile/externalDependencyClasspath/$global/streams/export
project/target/streams/compile/exportedProducts/$global/streams/export
project/target/streams/compile/dependencyClasspath/$global/streams/export
project/target/streams/compile/copyResources/$global/streams/out
project/target/streams/compile/copyResources/$global/streams/copy-resources
project/target/streams/compile/compileIncremental/$global/streams/out
project/target/streams/compile/compileIncremental/$global/streams/export
project/target/streams/compile/compile/$global/streams/out
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/$global/updateClassifiers/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.12/output
target/streams/$global/update/$global/streams/update_cache_2.12/inputs
target/streams/$global/update/$global/streams/out
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
target/benchmarks/report/img/glyphicons-halflings.png
target/benchmarks/report/img/arrow.png
target/benchmarks/report/css/vline.gif
target/benchmarks/report/css/ui.dynatree.css
target/benchmarks/report/css/jquery-ui-1.10.3.custom.css
target/benchmarks/report/css/index.css
target/benchmarks/report/css/icons.gif
target/benchmarks/report/css/bootstrap.min.css
target/benchmarks/report/css/bootstrap-slider.css
target/benchmarks/MemoryFootprint.Array.Test-0.dat
target/benchmarks/Array.foreach.Test-1.json.gz
target/.history
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
target/streams/$global/$global/dumpStructure/$global/streams/out
target/scala-2.12/test-classes/operations/search/dbfsSearch.class
target/scala-2.12/test-classes/operations/search/dbfsSearch$.class
target/scala-2.12/test-classes/operations/search/SearchBenchmark.class
target/scala-2.12/test-classes/operations/search/RangeBenchmark.class
target/scala-2.12/test-classes/operations/search/RangeBenchmark$.class
target/scala-2.12/test-classes/operations/search/GameTreeBenchmark.class
target/scala-2.12/test-classes/operations/search/GameTreeBenchmark$.class
target/scala-2.12/test-classes/operations/search/DefaultRangeBenchmark.class
target/scala-2.12/test-classes/operations/search/DefaultRangeBenchmark$.class
target/scala-2.12/test-classes/TestSuite.class
target/scala-2.12/test-classes/TestSuite$.class
target/scala-2.12/test-classes/TestSuite$$anon$2.class
target/benchmarks/report/js/jquery-ui-1.10.3.custom.min.js
target/benchmarks/report/js/jquery-compat.js
target/benchmarks/report/js/jquery-1.9.1.js
target/benchmarks/report/js/d3.v3.min.js
target/benchmarks/report/js/crossfilter.min.js
target/benchmarks/report/js/bootstrap.min.js
target/benchmarks/report/js/ScalaMeter/permalink.js
target/benchmarks/report/js/ScalaMeter/main.js
target/benchmarks/report/js/ScalaMeter/helper.js
target/benchmarks/report/js/ScalaMeter/filter.js
target/benchmarks/report/js/ScalaMeter/dimensions.js
target/benchmarks/report/js/ScalaMeter/data.js
target/benchmarks/report/js/ScalaMeter/chart.js
target/benchmarks/report/index.html
target/streams/test/unmanagedJars/$global/streams/export
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/scala-2.12/resolution-cache/default/algorithms_2.12/0.1/resolved.xml.properties
target/scala-2.12/resolution-cache/default/algorithms$sources/0.1/resolved.xml.xml
target/scala-2.12/resolution-cache/default/algorithms$sources/0.1/resolved.xml.properties
target/scala-2.12/classes/operations/search/TreeTraversal.class
target/scala-2.12/classes/operations/search/TreeTraversal$.class
target/scala-2.12/classes/operations/search/TreeSearch.class
target/scala-2.12/classes/collections/tree/LazyTree.class
target/scala-2.12/classes/collections/tree/IntTree.class
target/scala-2.12/classes/collections/tree/IntTree$.class
target/scala-2.12/classes/Main.class
target/scala-2.12/classes/Main$delayedInit$body.class
target/scala-2.12/classes/Main$CallCounter.class
target/scala-2.12/classes/Main$.class
target/benchmarks/report/js/jquery.dynatree.js
target/scala-2.12/test-classes/TestSuite$$anon$1.class
target/scala-2.12/test-classes/RegressionTest.class
target/scala-2.12/test-classes/MemoryTest.class
target/scala-2.12/resolution-cache/reports/ivy-report.xsl
target/scala-2.12/resolution-cache/reports/ivy-report.css
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-test.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/default-algorithms_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-test.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-provided.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-pom.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-optional.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-compile.xml
target/scala-2.12/resolution-cache/reports/default-algorithms$sources-compile-internal.xml
target/scala-2.12/resolution-cache/default/algorithms_2.12/0.1/resolved.xml.xml
